* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Old Standard TT", serif;
}

.recipe-box {
    display: inline-block;
    margin: 20px 10px;
}

nav {
    display: flex;
}

.name-box {
    display: inline-block;
    text-align: center;
    width: 190px;
    margin-top: 5px;
    padding: 0;
    color: black;
    font-weight: bold;
    font-size: 19px;
}
