html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: "Old Standard TT", serif;
}

.recipe-box {
    padding: 0;
    display: inline-block;
}

.name-box {
    /* background-color: yellow; */
    display: inline-block;
    text-align: center;
    width: 190px;
    min-height: 38px;
    margin-top: 5px;
    padding: 0;
    color: black;
    font-weight: bold;
    font-size: 19px;
}







