* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.recipe {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    /* margin: 20px 20px 0 20px; */
    margin: 20px auto;
    border: 1px solid;
    width: 1000px;
    /* background-color: rgb(173, 172, 167); */
}

.recipe-info {
    margin-right: auto;
}

.recipe-img {
    height: auto;
    width: 250px;
    flex: 1 0;
}

.recipe-info ul,
.recipe-info ol {
    list-style-position: inside;
}

.ingredients {
    margin-bottom: 30px;
    list-style-type: none;
}

hr {
    height: 1px;
    border: none;
    color: #333333;
    background-color: rgb(51, 51, 51, .5);
    max-width: 300px;
}

.steps li,
.ingredients li {
    max-width: 300px;
}

.ingredients,
.steps {
    font-size: 15px;
}

h1 {
    font-style: italic;
    margin-bottom: 20px;
    max-width: 300px;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-weight: 100;
}